/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/javatest2-1.0-SNAPSHOT.jar
/target/javatest2-1.0-SNAPSHOT.jar.original
/target/maven-archiver/pom.properties
/target/classes/com/test/controller/TestController.class
/target/*
.idea
*.iml
